PORT=
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
JWT_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NODE_ENV=""
GMAIL_PASSWORD=""
GMAIL_USER=""
ADMIN_SEED_EMAIL="admin@roxyall.com"
ADMIN_SEED_NAME="Admin"
ADMIN_SEED_PASSWORD="123456"